*{
    margin:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    height:100vh;
}
.navbar{
    display:flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding:10px 40px 10px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar .logo{
    font-size:2rem;
}
.navbar .menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;   
}
.navbar .menu .menu-items{
    color:blue;
    font-size:1.3rem;
    margin-right:10px;
}

