html, body {
    overflow-x: hidden; /* Prevent horizontal scroll */
}

:root {
    /* Colors */
    --primary-color: #232f3e;
    --secondary-color: #1b9bff;
    --accent-color: rgb(215, 14, 57);
    --light-bg: rgb(205, 205, 197);
    --white: #ffffff;
    --light-green: lightgreen;
    --footer-bg: #333;
    --footer-text: #ccc;
    --hover-bg: #0082e6;
    --button-bg: #0061ab;
    --button-hover-bg: #1b9bff;

    /* Font Sizes */
    --font-small: 0.8rem;
    --font-medium: 1rem;
    --font-large: 1.8rem;
    --nav-font: 1.7rem;

    /* spacing */
    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-large: 20px;

    /* brakepoints */
    --breakpoint-xl: 1200px;
    --breakpoint-lg: 992px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 576px;
    --breakpoint-xs: 400px;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: var(--light-bg);
    color: #333;
    line-height: 1.6;
}
nav {
    background: var(--primary-color);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-large);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

label.logo {
    color: var(--white);
    font-size: var(--nav-font);
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: var(--white);
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 14px;
    font-size: 17px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
    background: var(--secondary-color);
}

.toggle {
    display: none;
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
}

#check {
    display: none;
}


.wrapper {
    width: 70%;
    height: 450px;
    margin:auto;
    margin-top: 70px;
    box-shadow: 0px 0px 3px grey;
    background-color: rgb(104, 109, 131);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.apply-div{
    display:flex;
}
.apply-btn{
    margin:auto;
    padding:5px;
    border-radius: 5px;
    background-color:var(--button-bg);
    color:var(--white);
    outline:none;
    border:none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}
.wrapper i {
    font-size: 1.5rem;
    background-color: var(--button-bg);
    color:white;
    padding: 10px 13px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    z-index: 1;
}


.wrapper i:hover {
    background-color: var(--button-hover-bg);
    color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.slide{
    width:100%;
    height:100%;
    position: absolute;
    transition:1s;
}
.left{
    margin-left:10px;
    background-color: grey;
}
.right{
    margin-right:10px;
}
.brand-slider {
    margin: var(--padding-large);
    padding: var(--padding-medium) 0;
    background-color: #f7f7f7;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.brand-slider img {
    width: 150px;
    height: 100px;
    margin: 0 var(--padding-small);
    vertical-align: middle;
    transition: transform 0.3s;
}

.brand-slider img:hover {
    transform: scale(1.1);
}
.hot-deals {
    display: flex;
    flex-direction: column;
    padding: var(--padding-medium);
}

.top-products,
.top-product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: var(--padding-small);
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
}

.top-products::-webkit-scrollbar,
.top-product::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* .product {
    flex: 0 1 auto;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: var(--white);
    padding: var(--padding-small);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer; 
} */
.product {
    display: flex;
    flex: 0 1 auto;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: var(--white);
    padding: var(--padding-small);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.product:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.product img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 5px;
}

.product p {
    font-size: 1.1rem;
    margin: var(--padding-small) 0;
    padding: var(--padding-small);
}

.great-deals .top-product .product {
    min-width: 15em;
}
.product-details
{
    display:flex;
    flex-direction: column;
    padding:10px;
}


.offer-tab .offer {
    background-color: var(--accent-color);
    font-size: 1rem;
    text-wrap: nowrap;
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
}

.offer-tab .offer-title {
    font-size: 1rem;
    color: var(--accent-color);
}

.offer-tab span {
    color: var(--accent-color);
    font-size: 1.2rem;
}

.price-tab {
    display: flex;
    align-items: center;
    gap: 10px;

}

.price-tab .price {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.price-tab .mrp-tag {
    color: #666;
    font-size: 0.9rem;
    text-decoration: line-through;
}

.price-tab .mrp-price {
    font-size: 0.8rem;
    color: #666;
}
.main-page {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(240, 223, 128);
    box-shadow: 0 2px 6px #2c3e50;
    padding-top: 60px; /* To account for fixed nav */
}

.sidebar {
    box-shadow: 0 2px 6px #2c3e50;
    min-width: 200px;
    color:var(--white);
    background-color: var(--primary-color);
    padding: var(--padding-medium);
    transition: transform 0.3s ease-in-out;
}


.filters {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: var(--padding-small);
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu-toggler {
    display: none;
}

.great-deals {
    margin-top: 30px;
    padding: 14px;
}

.menu-toggler {
    margin:auto;
    margin-top:5px;
    padding:5px;
    background-color:white;
    border:1px solid black;
    width:100px;
    text-align:center;
    border-radius: 30px;
    cursor: pointer;
    display: none;
}

.main-bar {
    flex: 1;
    padding: var(--padding-medium);
    overflow-y: auto;
}
@keyframes fade{
    from {opacity:.5}
    to {opacity:1}
}
@keyframes fadein {
    from {
        transform: translateY(-100px)
    }
    to{
        transform: translateY(100px)
    }
}

.main-product {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.main-product .product {
    font-size:25px;
    align-items: start;
    background-color: var(--white);
    border: 1px solid #ccc;
    padding: var(--padding-small);
    width: calc(25% - 40px);
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.main-product .product:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-us {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-field {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.input-field label {
    margin-bottom: 5px;
}

.input-field input,
.input-field textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.input-field textarea{
    resize:vertical;
}

.input-field button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

.input-field button:hover {
    background-color: #218838;
}

footer {
    background-color: var(--footer-bg);
    color: var(--white);
    padding: var(--padding-large) 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    padding: var(--padding-small);
}

.footer-section h2 {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    margin: auto;
    font-size: 0.875rem;
    line-height: 1.6;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: var(--secondary-color);
}

.footer-section .social ul {
    display: flex;
    gap: 10px;
}

.footer-section .social ul li a {
    display: flex;
    align-items: center;
    color: var(--white);
}

.footer-section .social ul li i {
    margin-right: 8px;
    font-size: 1.125rem;
}

.footer-bottom {
    text-align: center;
    padding: var(--padding-small) 0;
    background-color: #222;
    color: var(--footer-text);
    font-size: 0.875rem;
}

.footer-bottom p {
    margin: 0;
}

.page-div{
    display:flex;
    width:100%;
    justify-content: end;
}
/* .page-div input{

} */
/* Extra Large Devices (Desktops, 1200px and up) */
@media (max-width: 1200px) {
    .top-products,
    .top-product {
        padding: var(--padding-small);
        height: 320px;
        gap: 10px;
    }

    .product {
        min-height: auto;
        min-width: 13em;
    }

    .main-product .product {
        min-height: 260px;
    }
}

/* Large Devices (Laptops, 992px and up) */
@media (max-width:992px) {
    label.logo {
        font-size: 1.5rem;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .offer-tab .offer-title {
        font-size: 0.875rem;
    }

    .offer-tab span {
        font-size: 1rem;
    }

    .toggle {
        display: block;
    }
    nav{
        align-items:center;
        justify-content: start;
    }
    nav ul {
        position: fixed;
        top: 60px;
        left: -100%;
        width: 60%;
        height: 100vh;
        background: var(--primary-color);
        flex-direction: column;
        align-items: center;
        transition: left .3s ease-in-out;
        z-index: 999;
        gap:10px;
        padding:0;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 1.25rem;
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: var(--hover-bg);
        background: none;
    }

    #check:checked ~ ul {
        left:0;
    }

    .top-products,
    .top-product {
        min-height: 280px;
    }

    .great-deals {
        margin: 0;
        margin-top: 10px;
    }

    .brand-slider {
        width: 100%;
        margin: 10px 0;
    }

    .product {
        min-height: 280px;
        min-width: 13em;
    }

    .product p {
        font-size: 1.1rem;
    }
}
.tog{
    z-index:1;
    background-color: rgb(240, 223, 128);

}
/* Medium Devices (Tablets, 768px and up) */
@media (max-width: 768px) {
    .input-field {
        width:100%;
        flex: 1 1 calc(50% - 20px);
    }

    .input-field textarea {
        flex: 1 1 100%;
    }

    .input-field:last-child {
        flex: 1 1 100%;
    }
    .menu-toggler{
        display:block;
    }
    .filters{
        flex-direction: row;
    }
    .sidebar {
        position: absolute;
        top: -300px;
        width: 100%;
        transition: 1s;
    }
    

    #menu-toggler:checked ~.sidebar{
        top:18%;
        display:block;
    }
    .wrapper{
        width:100%;
        margin-top:50px;
    }
    .contact-us {
        margin: 10px;
        padding: var(--padding-medium);
    }
    .top-products,
    .top-product {
        padding: var(--padding-medium);
        gap: 15px;
    }

    .product {
        min-height: auto;
        min-width: 12em;
        padding: var(--padding-small);
    }

    .product p {
        font-size: 1rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    /* Adjust main-page layout */
    .main-page {
        flex-direction: column;
    }
}

/* Small Devices (Large Phones, 576px and up) */
@media (max-width: 576px) {
    h2{
        font-size: 20px;
    }
    .top-products {
        height: 240px;
        gap: 12px;
    }
    .wrapper{
        height:200px;
        margin-top:70px;
    }
    .product {
        min-height: 220px;
        min-width: 10em;
        padding: var(--padding-small);
    }

    .product p {
        font-size: 0.9rem;
    }

    .main-product .product {
        width: 100%;
    }
    .filters{
        flex-direction: column;
    }
}


/* Extra Small Devices (Phones, below 400px) */
@media (max-width: 400px) {
    .top-products,
    .top-product {
        height: 200px;
    }

    .product {
        min-height: 180px;
        padding: var(--padding-small);
    }

    .product p {
        font-size: var(--font-small);
    }

    .main-product .product {
        width: 100%;
    }

    nav ul li a {
        font-size: 1rem;
    }
    body{
        width:100%;
        height:auto;
    }
}
